@charset "UTF-8";

header, footer{
	color: white;
	background-color: blue;
	text-align: center;
	padding: 1em;
}

nav {
	padding-left: 1em;
	width : 160px;
	max-width: 160px;
	float: left;
}
nav ul {
	list-style-type: none;
	padding: 0;
}

nav ul a {
	text-decoration: none;
}

article{
	margin-left: 170px;
	border: 1px solid gray;
	padding: 1em;

}

body {
	font-family: "Gungsuh";
}
